body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-image: url("https://live.dovetailgames.com/images/franchise_banner_fishing_4k.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#root .list-group-item {
  padding: 10px;
  border: none;
}

#root .media-body {
  position: relative;
}

#root .media-object {
  cursor: pointer;
}

#root .video-list .wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 30px;
  background: rgba(3,20,26,.75);
  color: #fff;
  text-align: center;
  padding: 5px 0;
}

#root .media-heading {
  line-height: normal;
  font-size: 14px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#root .list-group {
  flex-flow: row;
  flex-wrap: wrap;
}

#root .list-group-item {
  width: 100%;
  padding: 5px;
  display: inline-block;
  transition: all .3s;
  background: transparent;
}

#root .list-group-item img {
  display: block;
  width: 100%;
}

#root .list-group-item .glyphicon-play {
  transition: all .3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00b5e5;
  font-size: 100px;
  cursor: pointer;
  font-size: 20px;
  cursor: pointer;
  background: rgba(255, 255, 255, .4);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
}

#root .list-group-item:nth-child(n + 3) {
  width: 50%;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content {
  max-width: 940px;
  margin: 0 auto;
}

.close {
  font-size: 0;
}

.close span {
  font-size: 85px;
  color: #fff;
  font-weight: 300;
}

@media (min-width: 786px) {

  #root .list-group-item .glyphicon-play {
    font-size: 70px;
    height: 100px;
    width: 100px;
    line-height: 100px;
  }

  #root .list-group-item .glyphicon-play:before {
    margin-right: -10px;
  }
}

@media (min-width: 979px) {

  #root .list-group-item {
    width: 50%;
  }

  #root .list-group-item:nth-child(n + 3) {
    width: 25%;
  }
}

@media (min-width: 1200px) {

  #root .list-group-item:hover {
    transform: scale(1.1);
    z-index: 100;
  }

  #root .list-group-item:hover .glyphicon-play {
    color: #fff;
  }
}